name: Build APK with Buildozer
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip build-essential git openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev
          pip3 install --upgrade Cython==0.29.33 virtualenv
          pip3 install buildozer numpy sounddevice

      - name: Prepare SDK and accept licenses
        run: |
          export ANDROID_HOME=$HOME/.buildozer/android/platform/android-sdk
          export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
          export PATH=$JAVA_HOME/bin:$PATH

          mkdir -p $HOME/.android
          touch $HOME/.android/repositories.cfg
          mkdir -p $ANDROID_HOME/licenses

          echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > $ANDROID_HOME/licenses/android-sdk-license
          echo "d56f5187479451eabf01fb78af6dfcb131a6481e" >> $ANDROID_HOME/licenses/android-sdk-license

          buildozer android debug || true

          if [ ! -f "$ANDROID_HOME/tools/bin/sdkmanager" ]; then
            echo "sdkmanager не найден!"
            exit 1
          fi

          yes | $ANDROID_HOME/tools/bin/sdkmanager --sdk_root=$ANDROID_HOME --install "build-tools;34.0.0" "platforms;android-34" --verbose

          if [ -f "$ANDROID_HOME/build-tools/34.0.0/aidl" ]; then
            echo "aidl найден — всё отлично!"
          else
            echo "aidl не найден Сборка упадёт."
            exit 1
          fi
        env:
          ANDROID_HOME: $HOME/.buildozer/android/platform/android-sdk
          JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64

      - name: Build APK
        run: |
          buildozer -v android debug
        env:
          ANDROID_HOME: $HOME/.buildozer/android/platform/android-sdk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-apk
          path: bin/*.apk
