name: Build APK with Buildozer
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip build-essential git openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev unzip wget
          pip3 install --upgrade Cython==0.29.33 virtualenv
          pip3 install buildozer numpy sounddevice

      - name: Prepare SDK and accept licenses
        run: |
          export ANDROID_HOME=$HOME/.buildozer/android/platform/android-sdk
          export ANDROID_CMDLINE_TOOLS=$ANDROID_HOME/cmdline-tools/latest
          export JAVA_HOME=/usr/lib/jvm/temurin-17-jdk-amd64
          export PATH=$JAVA_HOME/bin:$PATH

          mkdir -p $HOME/.android && touch $HOME/.android/repositories.cfg
          mkdir -p $ANDROID_HOME/licenses

          echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > $ANDROID_HOME/licenses/android-sdk-license
          echo "d56f5187479451eabf01fb78af6dfcb131a6481e" >> $ANDROID_HOME/licenses/android-sdk-license

          if [ ! -d "$ANDROID_CMDLINE_TOOLS" ]; then
            cd /tmp
            wget -q https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O cmdline-tools.zip
            mkdir -p cmdline-tools-temp
            unzip -q cmdline-tools.zip -d cmdline-tools-temp
            rm -f cmdline-tools-temp/source.properties cmdline-tools-temp/NOTICE.txt
            mkdir -p $ANDROID_HOME/cmdline-tools
            mv cmdline-tools-temp/* $ANDROID_HOME/cmdline-tools/latest
            rm -rf cmdline-tools-temp cmdline-tools.zip
          fi

          if [ ! -f "$ANDROID_CMDLINE_TOOLS/bin/sdkmanager" ]; then
            echo "❌ sdkmanager не найден!"
            exit 1
          fi

          yes | $ANDROID_CMDLINE_TOOLS/bin/sdkmanager --sdk_root=$ANDROID_HOME --install "build-tools;34.0.0" "platforms;android-34" --verbose

          if [ -f "$ANDROID_HOME/build-tools/34.0.0/aidl" ]; then
            echo "✅ aidl найден — сборка продолжится"
          else
            echo "❌ aidl не найден"
            exit 1
          fi
        env:
          ANDROID_HOME: $HOME/.buildozer/android/platform/android-sdk
          JAVA_HOME: /usr/lib/jvm/temurin-17-jdk-amd64

      - name: Build APK
        run: |
          buildozer -v android debug
        env:
          ANDROID_HOME: $HOME/.buildozer/android/platform/android-sdk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-apk
          path: bin/*.apk
