name: Build APK with Buildozer
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip build-essential git
          sudo apt-get install -y git
          sudo apt install -y git zip unzip
          pip3 install numpy
          pip3 install sounddevice
          sudo apt install -y openjdk-17-jdk python3-pip 
          sudo apt install -y autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev
          pip3 install --upgrade Cython==0.29.33 virtualenv

      - name: Install Buildozer
        run: |
          pip3 install buildozer

      - name: Prepare SDK and accept licenses
        run: |
          buildozer android debug || true
          export ANDROID_HOME=$HOME/.buildozer/android/platform/android-sdk
          mkdir -p $HOME/.android
          touch $HOME/.android/repositories.cfg
          mkdir -p $ANDROID_HOME/licenses
          mkdir -p $HOME/.android && touch $HOME/.android/repositories.cfg
          echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > $ANDROID_HOME/licenses/android-sdk-license
          echo "d56f5187479451eabf01fb78af6dfcb131a6481e" >> $ANDROID_HOME/licenses/android-sdk-license
          $ANDROID_HOME/tools/bin/sdkmanager --install "build-tools;34.0.0" "platforms;android-34" --verbose
        env:
          ANDROID_HOME: $HOME/.buildozer/android/platform/android-sdk
      - name: Build APK
        run: |
          buildozer -v android debug
        env:
          ANDROID_HOME: $HOME/.buildozer/android/platform/android-sdk
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-apk
          path: bin/*.apk
