name: Build APK with Buildozer
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip build-essential git
          sudo apt-get install -y git
          sudo apt install -y git zip unzip
          pip3 install numpy
          pip3 install sounddevice
          sudo apt install -y openjdk-17-jdk python3-pip 
          sudo apt install -y autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev
          pip3 install --upgrade Cython==0.29.33 virtualenv

      - name: Install Buildozer
        run: |
          pip3 install buildozer

      - name: Trigger SDK download
        run: |
          buildozer android debug
        env:
          PYTHONPATH: $PYTHONPATH

      - name: Accept Android SDK licenses
        run: |
          mkdir -p ~/.android
          touch ~/.android/repositories.cfg
          yes | $ANDROID_HOME/tools/bin/sdkmanager --licenses || true
        env:
          ANDROID_HOME: ~/.buildozer/android/platform/android-sdk

      - name: Build APK
        run: |
          buildozer android release
        env:
          ANDROID_HOME: ~/.buildozer/android/platform/android-sdk
